* {
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #090302;
}

p {
  font-family: "Neuton";
  font-size: 19px;
}

h2 {
  font-family: "Palanquin";
  font-size: 24px;
}

.nav-objects {
  padding: auto;
  position: relative;
  width: 75%;
}

.nav-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  margin: 0;
  font-family: "Lora";
}

main {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.col {
  flex: 1;
  margin: 2;
  background-color: #53354a;
  flex-grow: 1;
  align-self: center;
  width: 75%;
}

.col > * {
  width: 40%;
  margin: auto;
  line-height: 2;
  text-align: center;
}
#bio {
  background-color: #494649;
}

nav {
  flex-basis: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}
#nav-bio {
  background-color: #494649;
}

#nav-projects {
  background-color: #8a7e72;
}

#nav-contacts {
  background-color: #4e634c;
}

#nav-hero {
  background-color: #3a171a;
}

#hero {
  background-color: #3a171a;
}

.nav-objects {
  flex-basis: 50%;
}
#projects {
  background-color: #8a7e72;
}

#contact {
  background-color: #4e634c;
  padding-bottom: 15px;
}

main > section {
  flex: 1 1 auto;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3d415f
  color: white;
  text-align: center;
}
@media only screen and (max-width: 1300px) {
  nav {
    width: 100%;
  }
  .nav-objects,
  .col {
    width: 100%;
  }
}
