* {
  box-sizing: border-box;
  font-family: serif;
  margin: 0;
  text-align: center;
  color: white;
}

#contact > * {
  display: inline;
}

body {
  background-color: #2a2828;
}
#projects {
  display: flex;
  flex-wrap: wrap;
}

#bio {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin: 50px 30px 0 30px;
}

.bio-section {
  flex: 1;
  margin: 10px auto;
}

p {
  line-height: 1.6;
}

.project {
  flex: 1;
  margin: 10px;
}

#projects {
  margin: 50px 10px 0 10px;
  padding: 0 10px 0 10px;
}

#bio,
.project {
  border: 6px double #2f3c97;
  padding: 10px;
}

h1,
h2,
h3,
a {
  color: #b0b7e9;
}

a:hover {
  color: #6c7efd;
}

#contact > * {
  font-size: 30px;
}
@media only screen and (min-width: 800px) {
  #bio {
    padding: 0 20% 0 20%;
  }
}
